---
import Step from '../components/organisms/steps/Step.astro'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="/src/styles/globals.css">
	</head>
	<body>
		<main>
			<Step />
		</main>
	</body>
</html>
