---
import Hero from '../components/organisms/Hero.astro';
import MoreInfo from '../components/organisms/MoreInfo.astro';
import Steps from '../components/organisms/steps/Steps.astro';
import WhoWeAre from '../components/organisms/WhoWeAre.astro';
import Footer from '../components/organisms/Footer.astro';
import Participate from '../components/organisms/Participate.astro';

import WordCloudSectionContainer from '../components/organisms/wordcloud/WordCloudSectionContainer.jsx';
import Opinion from '../components/organisms/Opinion.astro';
import HeaderDesktop from '../components/organisms/HeaderDesktop.jsx';
import PageScrollIndicator from '../components/organisms/PageScrollIndicator';
import PopoverMobileMenu from '../components/molecules/PopoverMenuMobile';

import '../styles/globals.css';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/x-icon' href='/favicon.ico' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<meta
			name='author'
			content='illustration, video-animation and design: Marcin Chylinski, HTML, CSS and JavaScript: Dominik Frackowiak'
		/>
		<meta
			name='description'
			content='El proyecto busca facilitar la construcción de narrativas desde un enfoque decolonial e interseccional y espacios libres de prácticas excluyentes y racistas ¡Participa!'
		/>
		<script src='https://kit.fontawesome.com/097d9616c9.js'></script>
		<title>¿Y tú encajas? (Des)iguales. Una mirada caleidoscópica.</title>
		<link
			rel='preload'
			href='/assets/fonts/Tavares.ttf'
			as='font'
			type='font/ttf'
			crossorigin
		/>
		<link
			rel='preload'
			href='/assets/fonts/GalanoGrotesqueMedium.otf'
			as='font'
			type='font/otf'
			crossorigin
		/>
		<link
			rel='preload'
			href='/assets/fonts/GalanoGrotesqueSemiBold.otf'
			as='font'
			type='font/otf'
			crossorigin
		/>
		<link
			rel='preload'
			href='/assets/fonts/GalanoGrotesqueRegular.otf'
			as='font'
			type='font/otf'
			crossorigin
		/>
	</head>
	<body>
		<PopoverMobileMenu client:load />
		<PageScrollIndicator client:load />
		<HeaderDesktop client:load />
		<main>
			<Hero />
			<MoreInfo />
			<Participate />
			<WordCloudSectionContainer client:load />
			<Steps />
			<Opinion />
			<WhoWeAre />
		</main>
		<Footer />
	</body>
</html>
