---
import { twMerge } from 'tailwind-merge'

const { audio, iconPause, iconPlay } = Astro.props
---

<div class='flex flex-col'>
	<button class='flex flex-col items-center gap-5 py-5'>
		<audio src={audio.audioSrc}></audio>
		<div class='relative h-[70px] w-[80px]'>
			<img
				src={iconPause}
				alt={'pause icon'}
				class={twMerge(
					'h-[70px] w-[80px]absolute top-0 left-0 pause-icon',
					'display-none'
				)}
			/>
			<img
				src={iconPlay}
				alt='play icon'
				class='h-[70px] w-[80px] absolute top-0 left-0
										play-icon'
			/>
		</div>
		<span class='text-2xl'>{audio.title}</span>
	</button>

	<button class='transcript-open-button flex flex-col items-center'>
		<span>más info</span>
		<span>+++</span>
	</button>
</div>

<script>

</script>
